.header {
    height: 105px;
    position: relative;
    width: 100%;
    display: flex;
    z-index: 20000;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
    background-color: #0b0b0b;
}

.container {
    display: flex;
}

.logoContainer {
    padding: 5px 5px 5px 30px;
    width: 30%;
}

.title {
    text-align: center;
    width: 40%;
    height: 105px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    font-family: var(--fun);
    color: orangered
}

.hamburger {
    position: absolute;
    top: 42px;
    right: 30px;
    width: 20px;
    height: 20px;
    z-index: 30;
    border: none;
    display: flex;
    flex-direction: column;
    transition: .4s ease-in-out;
    background-color: transparent;
    justify-content: space-between;
}

.hamburger:hover {
    cursor: pointer;
    color: orangered
}
    
.open {
    height: 19px;
}
     
.line {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s, opacity 0.3s;
}
    
.line:hover{
    cursor: pointer;
    background-color: var(--second);
}
      
.open .line:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: white;
}
    
.open .line:nth-child(2) {
    opacity: 0;
    background-color: white;
}
      
.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: white;
}
    
.open .line, .close .line {
    background-color: white;
}
    
.open:hover .line, .close:hover .line {
    cursor: pointer;
    background-color: orangered;
}

.open {
    position: fixed
}

.menu {
    position: fixed;
    padding-top: 100px;
    z-index: 20;
    top: 0px;
    height:calc(100vh);
    width: 100%;
    list-style: none;
    opacity: 1;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #000000;
}

.li {
    height: 50px;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #000000;
    text-align: center;
    color: white;
    font-family: var(--fun);
    transition: var(--transition)
}

.li:hover {
    transition: var(--transition);
    color: orangered;
    cursor: pointer;
}