.container {
    width: 100%;
    background-color: rgb(201, 201, 201);;
}
 
.banner {
    position: relative;
    width: 100%;
    transition: .4s ease-in-out;
    overflow: hidden;
    aspect-ratio: 4/3;
    max-height: 100vh;
    max-width: 1400px;
    margin: auto;
}

.h1 {
    position: absolute;
    width: 90%;
    left: 5%;
    text-align: center;
    top: 20%;
    z-index: 2;
    color: var(--third);
    font-size: 2em;
    letter-spacing: 0.1em;;
    font-family: var(--fun);
}

.btn, .btn2 {
    position: absolute;
    
    bottom: 30px;
    z-index: 10;
    width: 120px;
    padding: 8px;
    border-radius: 8px;
    font-family: var(--fun);  
    font-size: 1.2rem;  
    transition: var(--transition);
    border: 1px solid white;
}

.btn {
    left: 40px;
    color: var(--second);
    background-color: white;
}

.btn2 {
    right: 40px;
    color: white;
    background-color: orangered;  
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: orangered;
}

.btn2:hover {
    cursor: pointer;
    color: orangered;
    background-color: rgb(255, 255, 255);
}

.background {
    filter: brightness(30%) grayscale(0%);
}

