.title {
    width: 100%;
    color: orangered;
    text-align: center;
    margin: 60px 0;
}

.p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 30px auto;
}

.input {
    color: white;
    padding: 10px;
    font-family: var(--inter);
    border: 1px solid rgb(122, 122, 122);
    background-color: rgb(27, 27, 27);
}

.input::placeholder {
    color: rgb(219, 219, 219);
}

.submit {
    margin: 40px auto;
    width: 200px;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: .4s ease-in-out;
    background-color: orangered;
}

.submit:hover {
    cursor: pointer;
    background-color: rgb(224, 61, 2);
}