:root {
  --primary: rgba(31, 31, 31, 0.712);
  --second: orangered;
  --third: rgb(255, 255, 255);
  --transition: .4s ease-in-out;
  --inter: 'Inter', sans-serif;
  --primary2: rgb(44, 51, 64);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  background: rgb(0, 0, 0);
}

html,
body {
  margin: auto; 
  overflow-x: hidden;
  background: #0b0b0b;
  font-family: var(--inter);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}