.card {
    z-index: 8;
    margin-left: 5%;
    position: relative;
    width: 70%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: var(--primary);
}

.intro:hover {
    opacity: 0.9;
}

.h2 {
    color: var(--second);
    text-align: center;
    letter-spacing: 0.1em;
    font-family: var(--fun);
}

.p {
    color: var(--third);
    padding: 10px;
    line-height: 1.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: var(--txt);   
}

@media (max-width: 600px) {
  .p {  
    font-size: 0.9rem;
      
    }
}